{% load static %}

<!DOCTYPE html>
<html
  lang="en"
  class="light scroll-smooth group"
  data-layout="vertical"
  data-sidebar="light"
  data-sidebar-size="lg"
  data-mode="light"
  data-topbar="light"
  data-skin="default"
  data-navbar="sticky"
  data-content="fluid"
  dir="ltr"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />

    {% block extra_css %} {% endblock extra_css %}

    <!-- Layout config Js -->
    <script src="{% static 'js/layout.js' %}"></script>
    <!-- Icons CSS -->
    <link rel="stylesheet" href="{% static 'css/icons.css' %}" />
    <!-- Flatpickr -->
    <link
      rel="stylesheet"
      href="{% static 'libs/flatpickr/flatpickr.min.css' %}"
    />
    <!--choices -->
    <link
      rel="stylesheet"
      href="{% static 'libs/choices.js/public/assets/styles/choices.min.css' %}"
    />
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" />

    <title>Pykhmon</title>
    <script type="module"></script>
  </head>

  <body
    class="text-base bg-body-bg text-body font-public dark:text-zink-100 dark:bg-zink-800 group-data-[skin=bordered]:bg-body-bordered group-data-[skin=bordered]:dark:bg-zink-700"
  >
    <div
    class="group-data-[sidebar-size=sm]:min-h-sm group-data-[sidebar-size=sm]:relative"
    >
      {% block sidebar %} {% include 'components/sidebar.html' %} {% endblock sidebar %}
      {% block header %} {% include 'components/header.html' %} {% endblock header %}
      <main role="main" class="container">
        {% if messages %} {% for message in messages %}
        <div class="alert alert-{{message.tags}} mb-2">{{ message }}</div>
        {% endfor %} {% endif %}

        <div class="row">
          <div class="col-md-8">{% block content %}{% endblock %}</div>
        </div>
      </main>
    </div>

    <script src="{% static 'libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>
    <script src="{% static 'libs/@popperjs/core/umd/popper.min.js' %}"></script>
    <script src="{% static 'libs/tippy.js/tippy-bundle.umd.min.js' %}"></script>
    <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'libs/prismjs/prism.js' %}"></script>
    <script src="{% static 'libs/lucide/umd/lucide.js' %}"></script>
    <script src="{% static 'js/tailwick.bundle.js' %}"></script>

    {% block extra_js %} {% endblock extra_js %}
    <!-- App js -->
    <script type="module" src="{% static 'js/app.js' %}"></script>
  </body>
</html>
