{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div class="p-4 bg-white rounded shadow">
    <h3>Resource</h3>
    <p>uptime: {{ uptime }}</p>
    <p>version: {{ version }}</p>
    <p>architecture name: {{ architecture_name }}</p>
    <p>board name: {{ board_name }}</p>
    <p>cpu: {{ cpu }}</p>
    <p>cpu load: {{ cpu_load }}%</p>
    <p>memory: {{ free_memory }} available / {{ total_memory }} total</p>
    <p>hdd: {{ free_hdd_space }} available / {{ total_hdd_space }} total</p>
  </div>

  <div class="order-11 col-span-12 2xl:order-1 card 2xl:col-span-12">
    <div class="card-body">
        <div class="grid items-center grid-cols-1 gap-3 mb-5 xl:grid-cols-12">
            <div class="xl:col-span-3">
                <h6 class="text-15">Active Users</h6>
            </div><!--end col-->
            <div class="xl:col-span-3 xl:col-start-10">
                <div class="flex gap-3">
                    <div class="relative grow">
                        <input type="text" class="ltr:pl-8 rtl:pr-8 search form-input border-slate-200 dark:border-zink-500 focus:outline-none focus:border-custom-500 disabled:bg-slate-100 dark:disabled:bg-zink-600 disabled:border-slate-300 dark:disabled:border-zink-500 dark:disabled:text-zink-200 disabled:text-slate-500 dark:text-zink-100 dark:bg-zink-700 dark:focus:border-custom-800 placeholder:text-slate-400 dark:placeholder:text-zink-200" placeholder="Search for ..." autocomplete="off">
                        <i data-lucide="search" class="inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600"></i>
                    </div>
                    <button type="button" class="bg-white border-dashed text-custom-500 btn border-custom-500 hover:text-custom-500 hover:bg-custom-50 hover:border-custom-600 focus:text-custom-600 focus:bg-custom-50 focus:border-custom-600 active:text-custom-600 active:bg-custom-50 active:border-custom-600 dark:bg-zink-700 dark:ring-custom-400/20 dark:hover:bg-custom-800/20 dark:focus:bg-custom-800/20 dark:active:bg-custom-800/20"><i class="align-baseline ltr:pr-1 rtl:pl-1 ri-download-2-line"></i> Export</button>
                </div>
            </div><!--end col-->
        </div><!--end grid-->
        <div>daily {{ daily }}</div>
        <div>weekly {{ weekly }}</div>
        <div>monthly {{ monthly }}</div>
        <div>forecast {{ forecast }}</div>
        <div>session info {{ session_info }}</div>
        
        <img src="{% static 'forecast/forecast.png' %}" alt="">

        <div class="-mx-5 overflow-x-auto">
            <table class="w-full whitespace-nowrap">
                <thead class="ltr:text-left rtl:text-right bg-slate-100 text-slate-500 dark:text-zink-200 dark:bg-zink-600">
                    <tr>
                        <th class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500 w-10">
                            <div class="flex items-center h-full">
                                <input id="productsCheckAll" class="size-4 cursor-pointer bg-white border border-slate-200 checked:bg-none dark:bg-zink-700 dark:border-zink-500 rounded-sm appearance-none arrow-none relative after:absolute after:content-['\eb7b'] after:top-0 after:left-0 after:font-remix after:leading-none after:opacity-0 checked:after:opacity-100 after:text-custom-500 checked:border-custom-500 dark:after:text-custom-500 dark:checked:border-custom-800" type="checkbox">
                            </div>
                        </th>
                        <th class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500">Username</th>
                        <th class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500">Address</th>
                        <th class="px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold border-y border-slate-200 dark:border-zink-500">Server</th>
                    </tr>
                </thead>
                {% for user in active_users %}
                  <tbody>
                    <tr>
                      <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">
                          <div class="flex items-center h-full">
                              <input id="productsCheck1" class="size-4 cursor-pointer bg-white border border-slate-200 checked:bg-none dark:bg-zink-700 dark:border-zink-500 rounded-sm appearance-none arrow-none relative after:absolute after:content-['\eb7b'] after:top-0 after:left-0 after:font-remix after:leading-none after:opacity-0 checked:after:opacity-100 after:text-custom-500 checked:border-custom-500 dark:after:text-custom-500 dark:checked:border-custom-800" type="checkbox">
                          </div>
                      </td>
                      <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">{{ user.user }}</td>
                      <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">{{ user.address }}</td>
                      <td class="px-3.5 py-2.5 first:pl-5 last:pr-5 border-y border-slate-200 dark:border-zink-500">{{ user.server }}</td>
                    </tr>
                  </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
  </div>

    
{% endblock content %}
