{% extends "dashboard/base.html" %}

{% block content %}
    <p>
        <a href="{% url 'create_profile' %}">Create Profile</a>
    </p>
    <div class="p-2">
        {% for profile in profiles %}
            <div>        
                <h3>{{ profile }}</h3>
                <p>Download limit: {{ profile.download_limit_value }} {{ profile.download_limit_unit }}bps</p>
                <p>Upload Limit: {{ profile.upload_limit_value }} {{ profile.upload_limit_unit }}bps</p>
                <p>Description: {{ profile.description }}</p>
            </div>
        {% endfor %}   
    </div>

{% endblock content %}