{% extends "dashboard/base.html" %}

{% block content %}

    <a href="{% url 'create_profile' %}">
        <button type="button" class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-500/20 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-500/20 dark:ring-custom-400/20">
            Create Profile
        </button>
    </a>

    <div class="p-2">
        {% for profile in profiles %}
            <div>        
                <h3>{{ profile }}</h3>
                <p>Download limit: {{ profile.download_limit_value }} {{ profile.download_limit_unit }}bps</p>
                <p>Upload Limit: {{ profile.upload_limit_value }} {{ profile.upload_limit_unit }}bps</p>
                <p>Description: {{ profile.description }}</p>
            </div>
        {% endfor %}   
    </div>

{% endblock content %}