{% extends "dashboard/base.html" %}
{% load static %}

{% block content %}
    <p>
        <a href="{% url 'create_voucher' %}">Create voucher</a>
    </p>
    {% for voucher in vouchers %}
        {% with image_path="dashboard/qr/"|add:voucher.username|add:".png" %}
            <img src="{% static image_path %}" alt="">
        {% endwith %}
        <p>username: {{ voucher.username }}</p>
        <p>pasword: {{ voucher.password }}</p>
        <p>limit uptime: {{ voucher.limit_uptime }}{{ voucher.uptime_unit }}</p>
        <p>uptime: {{ voucher.uptime }}</p>
        <p>current price: {{ voucher.current_price }}</p>
        <p>checkout date: {{ voucher.checkout_date }}</p>
    {% endfor %}
{% endblock content %}