{% extends "dashboard/base.html" %}

{% block content %}

    <form method="POST" class="mt-4">
        <div class="form-group mb-2">
            <label for="router_address">Router address</label>
            <input name="router_address" type="text" class="form-control" id="router_address">
        </div>
        <div class="form-group mb-2">
            <label for="username">Username</label>
            <input name="username" type="text" class="form-control" id="username">
        </div>
        <div class="form-group mb-4">
            <label for="password">Password</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
        <div class="form-group mb-4">
            <label for="server_name">Hotspot server name</label>
            <input name="server_name" type="text" class="form-control" id="server_name">
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}